body{
	background: url("../images/backgroundGeo.png");
	background-size: cover;
	background-position: center;
}

html{
	height: 100%;
}

img {
	width: 15%;
	height: auto;
}

#content{
	text-align: center;
	padding-top: 18%;
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}
.container{
	font-family: Lato;
}

hr{
	width: 56%;
	/* was 300px */
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

#first{
	font-size: 730%;
	/* was 100px */
	font-weight: 700;
}

#navbar{
	color:white;
}

.active:hover{
	text-decoration: underline; 
}

h3 span {
	color: white;
}

h3{
	color: gray;
}

button {
	transition: all 0.1s ease 0s;
}

.socialMedia {
 	width: 466px;
 	margin: auto;
 	display: block;
}

.socialMedia i{
	margin-top: 40px;
	margin-left: 30px;
}

#fb {
	margin-left: 0px;
}

.socialMedia .fa {
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			   0px 8px 13px rgba(0,0,0,0.1),
			   0px 18px 23px rgba(0,0,0,0.1);
}

.fa:hover {
	transition: all 0.2s ease 0s;
	color: grey;
}

.repoLink {
	margin: auto;
	margin-bottom: 4px;
	width: 157px;
	vertical-align: bottom;
}

.repoLink a {
	color: white;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
			   0px 8px 13px rgba(0,0,0,0.1),
			   0px 18px 23px rgba(0,0,0,0.1);
}

.repoLink i {
	color: red;
}

#me {
	position: absolute;
	left: 4%;
	bottom: 4%;
}

#myFace{
	position: absolute;
	left: 4%;
	bottom: 4%;
}

#myFace:hover {
	-ms-transform: rotate(9deg); /* IE 9 */
    -webkit-transform: rotate(9deg); /* Chrome, Safari, Opera */
    transform: rotate(9deg);

}





